body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

input {
    width: 95%;
    padding: 8px;
    margin: 5px 0;
}

button {
    padding: 8px 15px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid gray;
}

th, td {
    padding: 8px;
    text-align: center;
}
